{% extends 'layout.html' %}
{% load static %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}
{% block title %} Dashboard {% endblock %}

<!-- just for future notice, the left, mid, and right of dashboard are only
present in the desktop size. the mobile version is completely vertical -->

{% block body %}
    <div class="dashboard-body">
        <section id="left-of-dashboard">
            <div class="dashboard-text">
                <h2>{{ org.username }}'s dashboard</h2>
                <p>Here’s your non-profit’s dashboard! You can edit what you need, what you have to spare, and see some basic information about your non-profit!</p>
            </div>
            <div class="dashboard-buttons">
                <button>Edit Information</button>
                <button>Check out your homepage!</button>
            </div>
        </section>
        <section class="mid-of-dashboard">
            <ul class="items-list">
                {% for item in org_items %}
                    {{ item }}
                {% empty %}
            </ul>
                <h2>You don't have any items listed!</h2>
            {% endfor %}
        </section>
        <section class="right-of-dashboard">
        </section>
    </div>
{% endblock %}