{% extends 'layout.html' %}
{% load static %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}
{% block title %} Dashboard {% endblock %}

<!-- just for future notice, the left, mid, and right of dashboard are only
present in the desktop size. the mobile version is completely vertical -->

{% block body %}
    <div class="dashboard-body">
        <section class="left-of-dashboard">
            <div class="dashboard-text">
                <h2>{{ org.username }}'s dashboard</h2>
                <p>Here’s your non-profit’s dashboard! You can edit what you need, what you have to spare, and see some basic information about your non-profit!</p>
            </div>
            <div class="dashboard-buttons">
                <button class="dashboard-button">Edit Information</button>
                <button class="dashboard-button">Check out your homepage!</button>
            </div>
        </section>
        <section class="mid-of-dashboard">
            <h2>Your needs</h2>
            <ul class="items-list">
                {% for item in wanted_org_items %}
                    <div class="item">{{item.count}} {{ item.units_description }} of {{ item }}</div>
                {% empty %}
            </ul>
                <h3>You don't have any items listed!</h3>
            {% endfor %}
            <div class="button">
                <button id="needs-button">Edit your needs</button>
                <img src="{% static 'edit_icon.svg' %}" alt="Edit button">
            </div>
        </section>
        <section class="right-of-dashboard">
            <h2>Your surplus</h2>
            <ul class="items-list">
                {% for item in surplus_org_items %}
                    <div class="item">{{item.count}} {{ item.units_description }} of {{ item }}</div>
                {% empty %}
            </ul>
                <h3>You don't have any items listed!</h3>
            {% endfor %}
            <div class="button">
                <button id="surplus-button">Edit your surplus</button>
                <img src="{% static 'edit_icon.svg' %}" alt="Edit button">
            </div>
        </section>
    </div>
<script src="dashboard.js"></script>
{% endblock %}