<h1>Edit your listed needs</h1>
<ul id="needs-items-list" class="items-list">
    {% for item in wanted_org_items %}
        <div class="item">{{item.count}} {{ item.units_description }} of {{ item }}
            <button data-name="{{ item }}" class="delete-item" id="needs-delete-item-{{ item }}"></button>
            <button data-name="{{ item }}" class="edit-item"></button>
        </div>
    {% empty %}
        <h3>You don't have any items listed!</h3>
    {% endfor %}
</ul>

<button id="needs-new-button">Add new item &plus;</button>
<button class="last-button" id="needs-close-button">Close</button>

