<div id="info-form">
    <form id="info-modal">
        {% for form in edit_org_forms %}
            {{ form }}
        {% endfor %}
        <button hx-put="{% url 'edit_org_info' %}"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-swap="innerHTML"
            hx-target="#info-form"
            hx-include="#info-modal"
            hx-trigger="click"
            type="submit" id="close-edit-info">
            Save and close
        </button>
    </form>
</div>
