{% extends 'layout.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- just for future notice, the left, mid, and right of dashboard are only
present in the desktop size. the mobile version is completely vertical -->

{% block body %}
    <div class="info-body">
        <section class="text-body">
            <div class="text-container">
                <h2 class="highlight-word">{{ org.username }}</h2>
                <p2>{{ org_info.desc }}</p2>
                <div id="specific-org-info-wrapper">
                    <div id="specific-org-info-container">
                        <p3>{{ org_contact_info.phone }}</p3>
                        <p3>{{ org_contact_info.email }}</p3>
                        <p3><a class="highlight-word" href="{{ org_info.website }}">Website</a></p3>
                    </div>
                    <address>
                        {{ org_location.street_address }},
                        {{ org_location.zip }},
                        {{ org_location.city }},
                        {{ org_location.region }}
                    </address>
                </div>
            </div>
        </section> 
        <section class="items-container">
            <h2 class="highlight-word">Our needs</h2>
            <ul class="items-list items-list-spacing">
                {% for item in wanted_org_items %}
                    <div class="item">{{ item.count }} {{ item.unit_description }} of {{ item.item_name }}</div>
                {% empty %}
            </ul>
                <h2>This org doesn't have any needed items listed :(</h2>
            {% endfor %}
        </section>
        <section class="items-container">
            <h2 class="highlight-word">Our surplus</h2>
            <ul class="items-list items-list-spacing">
                {% for item in shared_org_items %}
                    <div class="item">{{ item.count }} {{ item.units_description }} of {{ item.item_name }}</div>
                {% empty %}
            </ul>
                <h2>This org doesn't have any wanted items listed :(</h2>
            {% endfor %}
        </section>
    </div>
{% endblock %}