{% extends 'layout.html' %}
{% load static %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
{% endblock %}
{% block title %} {{ org.username }}'s Homepage {% endblock %}

<!-- just for future notice, the left, mid, and right of dashboard are only
present in the desktop size. the mobile version is completely vertical -->

{% block body %}
    <div class="info-body">
        <section class="text-body">
            <div class="text-container">
                <h2>{{ org.username }}</h2>
                <p2>{{ org_info.desc }}</p2>
                <h3>Address:</h3>
                <p2>{{ org_location.street_address }},
                    {{ org_location.zip }},
                    {{ org_location.city }},
                    {{ org_location.region }}
                </p2>
            </div>
        </section>
        <section class="items-container">
            <h2 class="highlight-word">Our needs</h2>
            <ul class="items-list items-list-spacing">
                {% for item in wanted_org_items %}
                    <div class="item">{{ item.count }} {{ item.unit_description }} of {{ item.item_name }}</div>
                {% empty %}
            </ul>
                <h2>This org doesn't have any needed items listed :(</h2>
            {% endfor %}
        </section>
        <section class="items-container">
            <h2 class="highlight-word">Our surplus</h2>
            <ul class="items-list items-list-spacing">
                {% for item in shared_org_items %}
                    <div class="item">{{ item.count }} {{ item.units_description }} of {{ item.item_name }}</div>
                {% empty %}
            </ul>
                <h2>This org doesn't have any wanted items listed :(</h2>
            {% endfor %}
        </section>
    </div>
{% endblock %}