asgiref==3.7.2
Django==5.0
django-extensions==3.2.3
psycopg2==2.9.9
python-dotenv==1.0.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
django-rest-framework==0.1.0
djangorestframework==3.14.0
pytz==2023.3.post1