{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Search items on
    Non-Profit Link
{% endblock %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'item_page.css' %}">
{% endblock %}
{% block body %}
    <h1 id="hero-title">{{ item.item_name }}</h1>
    <p class="item-description">{{ item.description }}</p>
    <div class="item-info">
        <p>
            Posted by <a href="{{ org.get_absolute_url }}" class="highlight-word-accent">{{ org.username }}</a>
        </p>
        <p>Contact us at {{ orgcontactinfo.email }} or {{ orgcontactinfo.phone }}</p>
    </div>
{% endblock %}
