{% extends 'layout.html' %}
{% load static %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'search_items.css' %}">
    {% endblock %}
{% block title %} Dashboard {% endblock %}
{% block body %}
<h1 id="hero-title">Search all items</h1>

<!-- TODO show a maximum of 5 non-profits when searching -->
<!-- TODO implent a "by want" and "by need" searching categories -->
<form action="">
    <div id="search-options">
        <div class="dropdown">
            <span>By non-profit &#x2B9F;</span>
        </div>
        <label class="checkbox">
            Shared Items
            <input type="checkbox">
        </label>
        <label class="checkbox">
            Requested Items
            <input type="checkbox">
        </label>
    </div>
    <label for="search" id="search-bar">
        <input type="text" name="search" placeholder="Search for an item...">
        <button id="search-button"><i class="fa fa-search"></i></button>
    </label>
</form>

<section class="items-board">
    <div class="search-results">
        {% for item in all_items %}
           <div class="search-item-results">{{ item.count }} {{ item.units_description }} of {{ item.item_name }}, 
                {% if item.want == True %}
                    requested
                {% else %}
                    shared
                {% endif %}
                by <a href="{{ item.org.get_absolute_url }}">{{ item.org }}</a></div>
       {% endfor %}
    </div>
</section>
{% endblock %}