.left-of-dashboard {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
}

.left-of-dashboard p {
  background: none;
  margin: 0 auto;
  padding-bottom: 25px;
}

.left-of-dashboard h3 {
  margin: 0 auto;
}

.dashboard-text {
  background-color: var(--secondary);
  margin-top: 20px;
  border-radius: 5px;
}

.dashboard-buttons {
  margin: 20px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-body {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 16px;
  margin-bottom: 40px;
}

.item {
  background-color: var(--primary);
  font-weight: 100;
  padding: 6px 10px;
  margin: 7px 20px;
  box-shadow: 5px 5px 5px var(--background);
  border-left: 2px solid white;
}

.items-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 13px;
}

.mid-of-dashboard , .right-of-dashboard{
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 85vw;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h3 {
  margin: 25px auto;
  margin-top: 0px;
  font-weight: 500;
}

.react-button {
  width: 65%;
  margin: 0 auto;
}

.dashboard-button {
  background: var(--secondary);
  color: var(--text);
  font-weight: 400;
}

#needs-modal, #surplus-modal {
  display: none;
}

.modal {
  position: absolute;
  flex-direction: column;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 40vh;
  background: blue;
  color: var(--text);
  height:fit-content;
  gap: 10px;
  border-radius: 5px;
}

.modal h1 {
  padding: 20px 0;
  border-bottom: 2px solid white;
} 

.modal button {
  margin: 0 30px;
}

.modal button:last-of-type {
  margin-bottom: 25px;
}

#needs-modal-blur {
  position: absolute;
  height: 100vh;
  width: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}
