.left-of-dashboard {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
}

.left-of-dashboard p {
  background: none;
  margin: 0 auto;
  padding-bottom: 25px;
}

.left-of-dashboard h3 {
  margin: 0 auto;
}

.dashboard-text {
  background-color: var(--secondary);
  margin-top: 20px;
  border-radius: 5px;
}

.dashboard-buttons {
  margin: 20px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-body {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 16px;
  margin-bottom: 40px;
}

.item {
  background-color: var(--primary);
  word-wrap: break-word;
  font-weight: 100;
  padding: 6px 10px;
  margin: 7px 20px;
  box-shadow: 5px 5px 5px var(--background);
  border-left: 2px solid white;
}

.items-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 0;
}

.item input {
  width:auto;
  max-width: 60px;
}

.mid-of-dashboard , .right-of-dashboard{
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 85vw;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h3 {
  margin: 12px auto;
  font-weight: 500;
}

.react-button {
  width: 65%;
  margin: 0 auto;
}

.dashboard-button {
  background: var(--secondary);
  color: var(--text);
  font-weight: 400;
  font-size: 14pt;
  padding: 3.5px;
}

dialog {
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
  position: fixed;
  white-space: normal;
  flex-direction: column;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 40vh;
  background: var(--secondary);
  color: var(--text);
  height:-webkit-fit-content;
  height:-moz-fit-content;
  height:fit-content;
  gap: 10px;
  border-radius: 5px;
}

dialog[open] {
  display: flex;
  -webkit-animation: fade-in 250ms forwards;
          animation: fade-in 250ms forwards;
}

dialog[closing] {
  pointer-events: none;
  -webkit-animation: fade-out 240ms forwards;
          animation: fade-out 240ms forwards;
}

dialog h1 {
  padding: 20px 0;
  border-bottom: 2px solid white;
} 

dialog button {
  margin: 0 30px;
}

dialog .last-button {
  margin-bottom: 25px;
}

.button {
  margin-bottom: 20px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.edit-item, .delete-item {
  margin: 0;
  width: 30px;
  height: 30px;
  background: none;
  color: var(--secondary);
}

