#hero-title {
    position: relative;
    margin: 0 auto;
    width: 96%;
}

.body-container {
/*  this is the epitomy of "no touch. it works"    */
    flex-direction: row;
    align-items: center;
}


