@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --background: #051010;
    --primary: #102929;
    --secondary: #75f0c6;
    --darker-secondary: #3db68d;
    --accent: #75dcf0;
    --text: #ececed;

    color: var(--text);
    background-color: var(--background);
    font-family: "Poppins", "Arial";
}

:root,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.body-container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

header {
    height: 10vh;
    z-index: -1;
}

nav {
    display: flex;
    margin: 0 2.5vw;
}

nav ul {
    margin-top: 10px;
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li,
nav label {
    padding: 6px;
}

.nav-dropdown-content li {
    display: flex;
}

nav a,
nav label {
    color: var(--text);
    text-decoration: none;
    font-size: 10px;
}

.nav-title a {
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
    padding-bottom: 4px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

#logout-button {
    display: flex;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background: none;
}

h1 {
    text-align: center;
    font-weight: 500;
    max-width: 95%;
    margin: 0 auto;
}

button {
    color: var(--background);
    background-color: var(--secondary);
    font-family: "Poppins", "Arial";
    border: none;
    padding: 4px 14px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
}

.button {
    display: flex;
    margin: 12px auto;
    color: var(--secondary);
    background-color: var(--accent);
    font-family: "Poppins", "Arial";
    border: none;
    border-radius: 20px;
    padding: 3px 15px;
    justify-content: space-between;
    white-space: nowrap;
}

.items-container h3 {
    padding: 20px 0;
}

.accent-color {
    background-color: var(--accent);
}

.buttons-group {
    margin: 0 auto;
    gap: 10px;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
}

.nav-dropdown input {
    display: none;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
    margin: 0 auto;
    background-color: var(--primary);
    white-space: nowrap;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 4px;
    z-index: 1;
}

.nav-dropdown input:checked ~ .nav-dropdown-content {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    max-width: 87%;
    margin: 3vh auto;
    padding: 14px 10px;
    margin-bottom: 0;
    background: var(--primary);
    border-radius: 5px;
}

p2 {
    margin: 12px auto;
    padding: 0 24px;
    padding-bottom: 12px;
    font-weight: 100;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    padding: 6px 10px;
    background: var(--primary);
}

footer img {
    width: 16%;
}

.footer-text-wrapper {
    display: flex;
    flex-direction: row;
}

.footer-text {
    font-size: 8px;
    list-style: none;
    padding: 10x;
    margin-left: auto;
    padding-right: 15px;
}

.no-padding {
    padding: 0px;
    padding-bottom: 0px;
}

.footer-text li {
    padding-bottom: 4px;
}

footer img {
    width: 100%;
    height: 100%;
}

.img-url {
    display: flex;
    justify-items: center;
    width: 20%;
}

input,
textarea {
    text-align: center;
    font: inherit;
    font-size: 13px;
    font-weight: 100;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 6px;
}

label {
    font-weight: 400;
    padding-bottom: 2px;
    padding-top: 10px;
    text-align: center;
    display: block;
    width: auto;
}

#close-edit-info {
    margin-top: 8px;
}

form,
#account-form,
form > div {
    display: flex;
    flex-direction: column;
}

form ul {
    list-style: none;
    color: red;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 100;
}

#password-specification {
    color: var(--text);
    font-style: italic;
}

.login-form,
.register-form {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.login {
    width: 60%;
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

#register-option a {
    color: var(--accent);
    font-style: italic;
}

#register-option {
    font-size: 18px;
    width: 40%;
    background: none;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 40px;
}

.paragraph-text-img img {
    -webkit-filter: drop-shadow(0 2px 3px rgba(200, 200, 200));
    filter: drop-shadow(0 2px 3px rgba(200, 200, 200));
}

.items-container {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 88%;
    margin: 50px auto;
    margin-top: 20px;
    border-radius: 5px;
}

.item {
    background-color: var(--primary);
    font-weight: 99;
    width: 80%;
    margin: 9px auto;
    padding: 5px 10px;
}

.search-results {
    border-radius: 2px;
    margin-bottom: 19px;
}

.last-search-result {
    margin-bottom: 99px;
}

#homepage-hero {
    height: 65vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

.items-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
}

.normal-margin {
    margin: 18px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    background: var(--text);
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    border-radius: 50px;
    padding: 0;
    margin: 15px auto;
    margin-top: 0;
}

.search-bar input {
    font-size: 14px;
    background: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.search-bar button {
    display: block;
    position: relative;
    background: none;
    right: 10px;
}

.highlight-word {
    color: var(--secondary);
}

.highlight-word-accent {
    color: var(--accent);
}

dialog {
    box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
    position: fixed;
    white-space: normal;
    flex-direction: column;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: 40vh;
    background: var(--background);
    color: var(--text);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 10px;
    border-radius: 5px;
}

dialog[open] {
    display: flex;
    -webkit-animation: fade-in 250ms forwards;
    animation: fade-in 250ms forwards;
}

dialog[closing] {
    pointer-events: none;
    -webkit-animation: fade-out 240ms forwards;
    animation: fade-out 240ms forwards;
}

dialog h1 {
    padding: 20px 0;
    border-bottom: 2px solid white;
}

dialog button {
    margin: 0 30px;
}

dialog .last-button {
    margin-bottom: 25px;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dropdown,
.checkbox {
    padding: 5px 7px;
    border-radius: 50px;
    background: var(--secondary);
    color: var(--background);
    display: inline-block;
    font-size: 12px;
}

.center-search-options {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    margin: 20px 0;
    margin-bottom: 0px;
}

.sort-by-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--secondary);
    display: flex;
    padding: 5px;
    border-radius: 50px;
    color: var(--background);
    border: 0px;
    font-family: "Poppins", "Arial";
}

.checkbox input {
    margin: 0;
    padding: 0;
}

optgroup {
    font-family: "Poppins", "Arial";
}

.info-body {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px auto;
}

/* for a body with a header and p elements */
.text-body {
    display: flex;
    background: var(--background);
    flex-direction: column;
    width: 88%;
    margin: 50px auto;
    border-radius: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

h2 {
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    font-size: 28px;
}

.items-list-spacing {
    margin-bottom: 20px;
}

.extra-bottom-margin {
    margin-bottom: 50px;
}

.custom-button-spacing {
    width: 40vw;
}

h3 {
    margin: 12px auto;
    font-weight: 500;
}

#specific-org-info-container {
    padding: 20px;
    padding-top: 0;
    display: flex;
    margin: 0 auto;
    gap: 15px;
}

#specific-org-info-wrapper {
    background: var(--background);
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
}

p3 {
    font-size: 12px;
    font-weight: 100;
    display: block;
}

address {
    font-size: 12px;
    font-weight: 100;
    margin: 0 auto;
}

#search-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

#hero-title {
    margin-top: 15px;
    padding-bottom: 15px;
}

/* good for left aligned general text */
.body-text {
    margin: 30px 0;
}

.body-text h3 {
    font-style: italic;
    padding-left: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.body-text p {
    margin-left: 0;
    margin-right: 0;
    max-width: 90%;
    padding-top: 0px;
    padding-left: 20px;
    background: none;
    text-align: left;
}

.body-text:last-of-type {
    margin-bottom: 30px;
}

.img-and-text {
    align-items: center;
    justify-content: left;
    display: flex;
}

.img-and-text img {
    width: 120px;
    height: 120px;
    padding: 0 30px;
}

.about-us-header {
    padding: 25px 0;
}

.italics {
    font-style: italic;
}

.body-small-font {
    font-size: 12px;
    margin-top: 0;
}

.body-small-font p {
    padding-top: 0;
    padding-bottom: 0;
}

.register-forms input,
.register-forms textarea {
    width: 100%;
}

.messages {
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

.messages li {
    width: auto;
    padding: 10px 15px;
    border: 2px solid var(--accent);
    border-radius: 25px;
    font-style: italic;
}

svg {
    display: flex;
    width: 20px;
    margin: 1px 0;
}

/* no images until media query */
@media (max-width: 500px) {
    .img-and-text-img {
        display: none;
    }
}

@media (min-width: 500px) {
    footer {
        height: 12vw;
    }
    footer img {
        width: 60%;
    }
    #search-items-form {
        width: 450px;
        margin: 0 auto;
    }
    .login-form {
        width: 60%;
    }
    .info-body {
        width: 75%;
    }
}

@media (min-width: 600px) {
    footer {
        height: 10vw;
        max-height: 70px;
    }
    footer img {
        width: 50%;
        max-width: 70px;
    }
    .login-form {
        width: 35%;
    }
    .info-body {
        width: 65%;
    }
}

@media (min-width: 700px) {
    .info-body {
        width: 60%;
    }
    dialog {
        width: 450px;
    }
}

@media (min-width: 800px) {
    #hero-title {
        font-size: 48px;
    }
    .item {
        width: 80%;
    }
    button {
        font-size: 20px;
    }
    .login-form {
        width: 400px;
    }
    .info-body {
        width: 45%;
    }
}

@media (min-width: 1100px) {
    .info-body {
        width: 1050px;
        flex-direction: row;
        gap: 30px;
        padding: 0 30px;
    }
    .items-container button {
        font-size: 16px;
    }
    .info-body .items-container {
        max-height: 500px;
        margin: 30px 0;
    }
    .info-body .items-list {
        overflow: hidden;
        max-height: 80%;
        overflow-y: scroll;
    }
}
