@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --background: #202222;
    --primary: #303333;
    --secondary: #262828;
    --accent: #02D6DE;
    --text: #ECECED;
   
    color: var(--text);
    background-color: var(--background);
    font-family: 'Poppins', 'Arial';
}

:root, body {
    margin: 0;
    padding: 0;
}

header {
    height: 10vh;
    z-index: -1;
}

nav {
    display: flex;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    padding: 10px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-size: 11px;
}

.nav-title a {
    color: var(--accent);
    border-bottom:  2px solid var(--accent);
    padding-bottom: 4px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

h1 {
    text-align: center;
    font-weight: 500;
    max-width: 95%;
    margin: 0 auto;
}

button {
    color: var(--secondary);
    background-color: var(--accent);
    font-family: 'Poppins', 'Arial';
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
}

.button {
    display: flex;
    margin: 12px auto;
    color: var(--secondary);
    background-color: var(--accent);
    font-family: 'Poppins', 'Arial';
    border: none;
    border-radius: 20px;
    padding: 3px 15px;
    justify-content: space-between;
    white-space: nowrap;
}

p {
    text-align: center;
    max-width: 87%;
    margin: 3vh auto;
    padding: 14px 10px;
    margin-bottom: 0;
    background: var(--primary);
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px 20px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: var(--primary)
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--accent);
}

footer img {
    color: var(--primary);
    width: 75%;
    height: 75%;
}

@media (max-width: 500px) {
    .desktop {
        display: none;
    }
}

input, textarea {
    text-align: center;
    font: inherit;
    font-size: 13px;
    font-weight: 100;
    border-radius: 10px;
    border-color: transparent;
    margin-bottom: 6px;
}

label {
    font-weight: 400;
    text-align: center;
    display: block;
    width: auto;
    padding-bottom: 6px;
}

#close-edit-info {
    margin-top: 8px;
}

form, #account-form, form>div {
    display: flex;
    flex-direction: column;
}

form ul {
    list-style: none;
    color: red;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 100;
}

#password-specification {
    color: var(--text);
    font-style: italic;
}

.login_form {
    width: 85%;
    margin: 0 auto;
}

.login {
    width: 60%;
    margin: 20px auto;
}

a {
  text-decoration: none;
  color: var(--text);
}

#register-option a {
    color: var(--accent);
    font-style: italic;
}

#register-option {
    font-size: 18px;
    width: 40%;
    background: none;
    margin: 0 auto;
    padding: 0;
}

.paragraph-text-img img {
    filter: drop-shadow(0 2px 3px rgba(200, 200, 200));
}

.search-results {
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.2)
}