.dropdown, .checkbox {
  display: inline-block;
  font-size: 14px;
}

#search-options {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  margin: 20px 0;
}

span a {
  display: inline-block;
  color: var(--accent);
}

#search-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--text);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 50px;
  padding: 0;
  margin: 15px auto;
  margin-top: 0;
}

#search-bar input {
  font-size: 14px;
  background: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

#search-bar button {
  display: block;
  position: relative;
  background: none;
  right: 10px;
}

#sort-by-dropdown {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: var(--secondary);
  display: flex;
  padding: 8px;
  border-radius: 50px;
  color: var(--text);
  border: 0px;
  font-family: "Poppins", "Arial";
}

optgroup {
  font-family: "Poppins", "Arial";
}

.normal-margin {
  margin: 18px;
}