{% extends 'layout.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block body %}
    <h1 id="hero-title">
        A little bit <span class="highlight-word">about us</span>
    </h1>
    <div class="img-and-text">
        <div class="img-and-text-img">
            <img src={% static 'who_we_are_icon.png' %}>
        </div>
        <div class="body-text">
            <h3>Who we are</h3>
            <p>
                We’re an open source project that was founded in 2023 (view the source code here). We connect you and other organizations so you can get the things you need, and get rid of the things you don’t.
                Not an organization? No big deal. You can browse our list of donatable items and organizations.
            </p>
        </div>
    </div>
    <div class="img-and-text">
        <div class="body-text">
            <h3>How can I help?</h3>
            <p>FILL ME OUT</p>
        </div>
        <div class="img-and-text-img">
            <img src={% static 'who_we_are_icon.png' %}>
        </div>
    </div>
    <div class="img-and-text">
        <div class="img-and-text-img">
            <img src={% static 'who_we_are_icon.png' %}>
        </div>
        <div class="body-text">
            <h3>About the creator</h3>
            <p>FILL ME OUT</p>
        </div>
    </div>
    <div class="img-and-text">
        <div class="body-text">
            <h3>Technical info for the nerds</h3>
            <p>FILL ME OUT</p>
        </div>
        <div class="img-and-text-img">
            <img src={% static 'who_we_are_icon.png' %}>
        </div>
    </div>
    <h3 class="about-us-header">
        Not enough info? Read the <span class="highlight-word-accent">FAQ</span>
    </h3>
{% endblock %}
