{% extends 'layout.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
{% endblock %}
{% block body %}
    <h1 id="hero-title">
        A little bit <span class="highlight-word">about us</span>
    </h1>
    <div class="img-and-text">
        <div class="img-and-text-img">
            <img src="{% static 'who_we_are_icon.png' %}" alt="Magnifiying glass">
        </div>
        <div class="body-text">
            <h3>Who we are</h3>
            <p>
                We’re an open source project that was founded in 2023 (view the source code here). We connect you and other organizations so you can get the things you need, and get rid of the things you don’t.
                Not an organization? No big deal. You can browse our list of donatable items and organizations.
            </p>
        </div>
    </div>
    <div class="img-and-text">
        <div class="body-text">
            <h3>How can I help?</h3>
            <p>
                If you're a member of a charity organization or know any members, you can redirect them to us, where they can share their supplies. If you would like to donate supplies to charity organizations in need, you can do this by connecting with them via NPL too.
            </p>
        </div>
        <div class="img-and-text-img">
            <img src="{% static 'two-people-shaking-hands.svg' %}"
                 alt="Two people shaking hands">
        </div>
    </div>
    <div class="img-and-text">
        <div class="img-and-text-img">
            <img src="{% static 'bio.svg' %}" alt="Default profile image icon">
        </div>
        <div class="body-text">
            <h3>About the creator</h3>
            <p>
                Hi, I'm Oscar! I've been coding on and off since I was 12, and I've been coding consistently (almost every day) since I was 15. I'm fluent in Python, HTML/CSS/JS, Typescript, and SQL. The primary technologies I work with are Django, HTMX, the Django Rest Framework, and PostgreSQL. You can find more about me <a href="https://kureal.pythonanywhere.com/home/" class='highlight-word'>here</a>.
            </p>
        </div>
    </div>
    <div class="img-and-text">
        <div class="body-text">
            <h3>Technical info for the nerds</h3>
            <p>
                This site is hosted on a VPS hosted by Digital Ocean (Nginx and Gunicorn, if you're familiar). The backend is Django and DRF, and the frontend is raw HTML/CSS/JS (check out the hellish JS I wrote because I refused to use a framework <a href="https://github.com/kurealnum/non-profit-link/blob/main/static/js/dashboard.js"
    class="highlight-word">here</a>), and we're using PostgreSQL as our database. You can access (and contribute to!) the source code <a href="https://github.com/kurealnum/non-profit-link"
    class="highlight-word">here</a>.
            </p>
        </div>
        <div class="img-and-text-img">
            <img src="{% static 'computer-with-gear.png' %}"
                 alt="Computer with gear icon above it">
        </div>
    </div>
    <h3 class="about-us-header">
        Not enough info? Read the <span class="highlight-word-accent">FAQ</span>
    </h3>
{% endblock %}
