{% extends 'layout.html' %}
{% block title %}Credits{% endblock %}
{% block body %}
    <h1 id="hero-title" class="highlight-word-accent">Credits</h1>
    <h3>Sources</h3>
    <div class="body-text body-small-font">
        <p>
            <a class="highlight-word-accent italics"
               href="https://webstockreview.net/explore/handshake-clipart-businessman/ ">Two people shaking hands</a> located on <a href="{% url 'about_us' %}" class="highlight-word italics">About Us</a>
        </p>
        <p>
            <a class="highlight-word-accent italics"
               href="https://vectorified.com/download-image#who-we-are-icon-38.png ">Magnifiying glass</a> located on <a href="{% url 'about_us' %}" class="highlight-word italics">About Us</a>
        </p>
        <p>
            <a class="highlight-word-accent italics"
               href="https://www.flaticon.com/free-icon/developer_1803671  ">Developer image</a> located on <a href="{% url 'about_us' %}" class="highlight-word italics">About Us</a>
        </p>
        <p>
            <a class="highlight-word-accent italics"
               href="https://www.flaticon.com/free-icon/developer_1803671  ">Computer with gear</a> located on <a href="{% url 'about_us' %}" class="highlight-word italics">About Us</a>
        </p>
    </div>
    <h3>Contributors</h3>
    <div class="body-text">
        <p>
            <a href="GITHUBLINK">NAMEHERE</a>on GitHub
        </p>
    </div>
{% endblock %}
