{% extends 'layout.html' %}
{% block title %}FAQ{% endblock %}
{% block body %}
    <h1 id="hero-title">Frequently Asked Questions</h1>
    <div class="body-text">
        <h3>
            <span class="highlight-word-accent">Q:</span> What does Non-Profit Link do for organizations?
        </h3>
        <p>
            A: We provide a platform for your organizaton. Do you have an excess of some of your resources, but insufficient quantities of others? We have you covered. Simply search for non-profits to donate to, and list your items on your dashboard.
        </p>
    </div>
    <div class="body-text">
        <h3>
            <span class="highlight-word-accent">Q:</span> What does Non-Profit Link do for singular users?
        </h3>
        <p>
            A: We help singular users to find organizations that they'd like to contribute to; whether that contribution is time, money, or something else is entirely up to them
        </p>
    </div>
    <div class="body-text">
        <h3>
            <span class="highlight-word-accent">Q:</span> Can I create an account even if I'm not part of an organizaton?
        </h3>
        <p>
            A: We'd rather you not. Non-Profit Link exists specificially for organizations, and, you alone simply aren't an organization.
        </p>
    </div>
    <div class="body-text">
        <h3>
            <span class="highlight-word-accent">Q:</span> I'm part of/managing a business. Can I create an account?
        </h3>
        <p>
            A: You're welcome to create an account, as long as your account exists only to list the surplus that your business has that you'd like to donate. We hope that this would be obvious, but <i>please</i> do not create an account in order to ask for donations for your business.
        </p>
    </div>
    <div class="body-text">
        <h3>
            <span class="highlight-word-accent">Q:</span> I have more questions! What do I do?
        </h3>
        <p>You can reach out to the creator of this site, Oscar Gaske, at oscar.gaske.cs@gmail.com</p>
    </div>
{% endblock %}
