{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block body %}
    <div id="homepage-hero">
        <h1 id="hero-title">
            Helping <span class="highlight-word">non-profits</span> share their resources since 2023
        </h1>
        <section class="buttons-group">
            <button data-url="{% url 'register' %}" id="make-an-account">Make an account</button>
            <button data-url="{% url 'faq' %}"  class="accent-color" id="faq-button">Learn more about us</button>
        </section>
    </div>
    <section id="who-we-are">
        <h1>Who we are</h1>
        <p1>
        We’re an open source project that was founded in 2023 <a href="https://github.com/kurealnum/non-profit-link"
    class="highlight-word-accent">(view the source code here)</a>. We connect you and other organizations so you can get the things you need, and get rid of the things you don’t.
        Not an organization? No big deal. You can browse our list of donatable items and organizations.
        </p1>
    </section>
    <section id="how-to-get-started">
        <h1>How to get started</h1>
        <div class="number-and-text">
            <div class="number-and-header">
                <div class="circle-icon">1</div>
                <h3>
                    Make an account by clicking <a href="{% url 'register' %}" class="highlight-word">here</a>
                </h3>
            </div>
        </div>
        <div class="number-and-text">
            <div class="number-and-header">
                <div class="circle-icon">2</div>
                <h3>List your non-profit's surplus and needs</h3>
            </div>
            <p1>You can do so by editing your needs and surplus on your non-profit's dashboard.</p1>
        </div>
        <div class="number-and-text">
            <div class="number-and-header">
                <div class="circle-icon">3</div>
                <h3>That's it!</h3>
            </div>
            <p1>
            Yes, really! The only thing is left to do is wait for someone to see what you’ve listed! We’d also appreciate it if you mentioned that you’re using Non-Profit Link on your non-profit’s social media pages; it might even help you garner some attention!
            </p1>
        </div>
    </section>
    <script src='{% static 'js/index.js' %}'></script>
{% endblock %}
