{% extends 'layout.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head-info %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block body %}
    <div id="homepage-hero">
        <h1 id="hero-title">
            Helping <span class="highlight-word">non-profits</span> share their resources since 2023
        </h1>
        <section class="buttons-group">
            <button data-url="{% url 'register' %}" id="make-an-account">Make an account</button>
            <button data-url="{% url 'faq' %}"  class="accent-color" id="faq-button">Learn more about us</button>
        </section>
    </div>
    <script src='{% static 'js/index.js' %}'></script>
{% endblock %}
