{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
<div id="homepage-hero">
    <h1 id="hero-title">
        Helping <span class="highlight-word">non-profits</span> share their resources since 2023
    </h1>
    <img src="{% static 'imgs/TitleBlob.svg' %}" alt="Title blob SVG" id="title-background">
</div>
<div class="homepage-search">
    <div class="react-search-button"></div>
</div>
<div class="homepage-search">
    <div class="react-search-button"></div>
</div>
<div id="react-paragraphs"></div>

<footer></footer>

<!-- react -->
<div id="root"></div>
<script src="{% static 'index.js' %}"></script>
{% endblock %}