{% extends 'layout.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block head-info %}
<link rel="stylesheet" href="{% static 'homepage.css' %}">
{% endblock %}

{% block body %}
<div id="homepage-hero">
    <img src="{% static 'imgs/TitleBlob.svg' %}" alt="Title blob SVG" id="title-background">
    <h1 id="hero-title">
        Helping <span class="highlight-word">non-profits</span> share their resources since 2023
        
    </h1>
    
</div>
<div class="homepage-search">
    <div class="react-search-button"></div>
    {% for org in random_5_orgs %}
        {{ org.username }}
    {% endfor %}
</div>
<div class="homepage-search">
    <div class="react-search-button"></div>
    {% for item in top_5_items %}
        {{ item.item_name }} {{ item.count }}
    {% endfor %}
</div>
<div id="react-paragraphs"></div>

<footer></footer>

<!-- react -->
<div id="root"></div>
<script src="{% static 'index.js' %}"></script>
{% endblock %}