.left-of-dashboard {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  font-size: 28px;
}

.left-of-dashboard p {
  background: none;
  margin: 0 auto;
  padding-bottom: 25px;
}

.left-of-dashboard h3 {
  margin: 0 auto;
}

.dashboard-text {
  background-color: var(--secondary);
  margin-top: 20px;
  border-radius: 5px;
}

.dashboard-buttons {
  margin: 20px;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dashboard-body {
  background: var(--primary);
  margin: 0 12px;
  margin-top: 10px;
}

.item {
  background-color: var(--primary);
  padding: 6px 10px;
  margin: 10px 20px;
  box-shadow: 5px 5px 5px var(--background);
  border-left: 2px solid white;
}

.items-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.mid-of-dashboard , .right-of-dashboard{
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 85vw;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h3 {
  margin: 25px auto;
  margin-top: 0px;
}
