.highlight-word {
    color: var(--accent);
}

.search-item-results {
    background-color: var(--primary);
    margin: 10px;
    padding: 6px 10px;
    box-shadow: 5px 5px 5px var(--background);
    border-left: 2px solid white;
}

.search-results {
    background-color: var(--primary);
    border-radius: 3px;
    margin-bottom: 20px;
}

#homepage-hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hero-title {
    position: relative;
    margin: 0 auto;
    width: 96%;
}

#title-background {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 96%;
    z-index: -1;
}

.homepage-search {
    display: flex;
    flex-direction: column;
    margin: 50px; 
}

.paragraph-text-img {
    position: relative;
}

.paragraph img {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    bottom: 0;
    margin: auto;
    width: 90%;
    z-index: -1;
}