@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --background: #202222;
    --primary: #303333;
    --secondary: #262828;
    --accent: #02D6DE;
    --text: #ECECED;
   
    color: var(--text);
    background-color: var(--background);
    font-family: 'Poppins', 'Arial';
}

:root, body {
    margin: 0;
    padding: 0;
}

#homepage-hero {
    height: 90vh;
    display: flex;
}

#hero-title {
    display: flex;
    margin: auto;
    font-size: 48px;
}

#title-background {
    height: 40%;
}

.highlight-word {
    color: var(--accent);
}

nav {
    display: flex;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    padding: 10px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-size: 11px;
}

.nav-title a {
    color: var(--accent);
    border-bottom:  2px solid var(--accent);
    padding-bottom: 4px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

#react-homepage-hero {
    height: 60vh;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-weight: 500;
    max-width: 95%;
    margin: 0 auto;
}

#react-homepage-hero {
    position: relative;
}

#title-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 96%;
    z-index: -1;
}

.homepage-search {
    display: flex;
    flex-direction: column;
    margin: 50px; 
}

button {
    color: var(--secondary);
    background-color: var(--accent);
    font-family: 'Poppins', 'Arial';
    border: none;
    border-radius: 20px;
    font-weight: 500;
    font-size: 20px;
}

.search-button {
    display: flex;
    margin: 0 auto;
    color: var(--secondary);
    background-color: var(--accent);
    font-family: 'Poppins', 'Arial';
    border: none;
    border-radius: 20px;
    padding: 3px 15px;
    justify-content: space-between;
    white-space: nowrap;
}

p {
    text-align: center;
    max-width: 87%;
    margin: 3vh auto;
    padding: 14px 10px;
    background: var(--primary);
    margin-bottom: 175px;
    border-radius: 5px;
}

.paragraph-text-img {
    position: relative;
}

.paragraph img {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    bottom: 0;
    margin: auto;
    width: 90%;
    z-index: -1;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 100%;
    padding: 15px 20px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: var(--primary)
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--accent);
}

footer img {
    color: var(--primary)
    width: 75%;
    height: 75%;
}

@media (max-width: 500px) {
    .desktop {
        display: none;
    }
}