@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --background: #202222;
    --primary: #303333;
    --secondary: #262828;
    --accent: #02D6DE;
    --text: #ECECED;
   
    color: var(--text);
    background-color: var(--background);
    font-family: 'Poppins', 'Arial';
}

:root, body {
    margin: 0;
    padding: 0;
}

.highlight-word {
    color: var(--accent);
}

nav {
    display: flex;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    padding: 10px;
}

nav a {
    color: var(--text);
    text-decoration: none;
    font-size: 11px;
}

.nav-title a {
    color: var(--accent);
    border-bottom:  2px solid var(--accent);
    padding-bottom: 4px;
    font-size: 18px;
}

.nav-links {
    display: flex;
    margin-left: auto;
    margin-right: 0;
}

#react-homepage-hero {
    height: 60vh;
    margin: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

#react-homepage-hero {
    position: relative;
}

#title-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 96%;
    z-index: -1;
}

.homepage-search {
    display: flex;
    flex-direction: column;
    margin: 50px; 
}

button {
    margin: 0 auto;
    color: var(--secondary);
    background-color: var(--accent);
    font-family: 'Poppins', 'Arial';
    border: none;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 500px) {
    .desktop {
        display: none;
    }
}