@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    background-color: #262828;
    font-family: 'Poppins', 'Arial';
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
}