<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--use the <link> class and not the <meta> (you are stupid) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}" type="text/css">
    <title>Hello World</title>
    
</head>
<header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Stuff</a></li>
          <li><a href="#">Stuff</a></li>
        </ul>
      </nav>
    </div>
  </header>
<body>
    <!-- double curly brackets means using a variable that has been passed through from flask/python-->
    <p>Welcome to literally nothing lmao {{search_query}}
    </p>
    <!--i'm not doing the actual search function for a long time btw-->
    <form class="home_page_search" action="search_home_page" method="POST">
        <br>
        <input type="search" name="search_query">
        <br>
        <input type="submit" value="Search" id="search_home_page">
    </form>
    <script src="" async defer></script>
</body>
</html>