{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'layout.css' %}">
  <title>Non-Profit Link - {% block title %}{% endblock %}</title>
</head>

  <header>
    {% if request.user.is_authenticated %}
      <p>You are logged in!</p>
    {% else %}
      <p>You are not logged in!</p>
    {% endif %}
    <nav>
      <ul>
        <li><a href="{% url 'index' %}">Non-Profit Link</a></li>
        <li><a href="{% url 'login' %}">MY NON-PROFIT</a></li>
        <li><a href="TEST">CONTRIBUTABLE ITEMS</a></li>     
        <li><a href="TEST">NON-PROFITS</a></li> 
      </ul>
    </nav>
  </header>

<body>
  {% block body %}{% endblock %}
</body>

</html>