{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>NP Link - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

  <header>
    <nav>
      <ul>
        <li><a href="TEST">Home</a></li>
        <li><a href="TEST">About Us</a></li>
        <li><a href="TEST">Technicals</a></li>     
        <li><a href="TEST">Search</a></li> 
        <li><a href="TEST">Logout</a></li>
      </ul>
      <ul>
        <li><a href="TEST">Login</a></li>
        <li><a href="TEST">Register</a></li>
      </ul>
    </nav>
  </header>

<body>
  {% block body %}{% endblock %}
</body>

<footer>
  <section class="footer_links">
    <ul>
      <li><a href="https://github.com/kurealnum" target="_blank">My Github <i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="https://www.feedingamerica.org/find-your-local-foodbank" target="_blank">Your local Food Bank <i class="fa fa-cutlery" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/kurealnum/FlaskWebApp/branches" target="_blank">Fork Me <i class="fa fa-github" aria-hidden="true"></i></a></li>
    </ul>
  </section>

  <section class="footer_text">
    <p>DISCLAIMER: This webapp is solely intended for accepting and making donations. 
      We currently do not facilitate or encourage any financial transactions or exchanges through 
      this platform.</p>
  </section>
</footer>


</html>