{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}

<div class="introduction">
  Search for a nonprofit by zipcode:
</div>

<div class="search_bar_wrap">
    <form class="search" action="/search" method="POST">
      <br>
      <input type="search" name="search" id="search" class="searchTerm" placeholder="Search...">
    </form>
</div>

<ul id="search_return" class="search_return""><p class="search_text" id="search_text">Enter a search term!</p></ul>


<script src="{{url_for('static', filename='searchhelper.js')}}"></script>

{% endblock %}