{% if items is false %}

    <p class="search_text">Hm... we couldn't find anything</p>

{% elif items is not none %}

    {% for item in items %}
    <div class="surrounding_box">
        <div class="box">
            <li class="search_return_words">
                
                <address>{{ item[5] }} <br> {{ item[4] }} {{ item[2] }}, {{ item[3] }}</address>
            </li>
        </div>
    </div>
    {% endfor %}

{% else %}

    <p class="search_text">Enter a search term!</p>

{% endif %}
