{% if items is false %}

    <p class="search_text">Hm... we couldn't find anything</p>

{% elif items is not none %}

    {% for i in range(items|length) %}
    <div class="surrounding_box">
        <div class="box">
            <li class="search_return_words">
                {{ items[i][0] }}
            </li>
            <li class="search_return_words">
                <!-- TODO: get org name and website put here. keep working on formatting -->
                <address>{{ items[i][5] }} <br> {{ items[i][4] }} {{ items[i][2] }}, {{ items[i][3] }}</address>
            </li>
            <li class="search_return_words">
                {{ items[i][6] }}
            </li>
        </div>
    </div>
    {% endfor %}

{% else %}

    <p class="search_text">Enter a search term!</p>

{% endif %}
