{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}

<script src="{{url_for('static', filename='searchhelper.js')}}"></script>

<div class="introduction">
  Search for a nonprofit by zipcode:
</div>

<div class="search_bar_wrap">
    <form class="search" action="/search" method="POST">
      <br>
      <input type="search" name="search_query" id="search" class="searchTerm" placeholder="Search...">
    </form>
</div>

<ul id="search_return"></ul>

{% endblock %}