{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}

{% block body %}
    <section id="left-of-dashboard">
        <h2>{{ current_org }}'s dashboard</h2>
        <p>{{ current_org_info.desc }}</p>
        <button>Edit Information</button>
        <button>Check out your homepage!</button>
    </section>
    <section class="mid-of-dashboard">
        {% for item in current_wanted_org_items %}
            {{ item }}
        {% empty %}
            <h2>You don't have any items listed as wanted!</h2>
        {% endfor %}
    </section>
    <section class="right-of-dashboard">
        {% for item in current_needed_org_items %}
            {{ item }}
        {% empty %}
            <h2>You don't have any items listed as needed!</h2>
        {% endfor %}
    </section>

{% endblock %}