{% extends 'layout.html' %}
{% block title %} Dashboard {% endblock %}
{% load static %}

{% block body %}
    <section id="left-of-dashboard">
        <h2>{{ org.username }}'s dashboard</h2>
        <p>{{ org_info.desc }}</p>
        <button>Edit Information</button>
        <button>Check out your homepage!</button>
    </section>
    <section class="mid-of-dashboard">
        <ul class="items-list">
            {% for item in org_items %}
                {{ item }}
            {% empty %}
        </ul>
            <h2>You don't have any items listed!</h2>
        {% endfor %}
    </section>
    <section class="right-of-dashboard">
    </section>
{% endblock %}